// Variables

/* Colors */

$successColor: #1B8354;
$smallTextColor:#1E1E1E; 
$primaryColor:#1B8354;
$largeTextColor:#292D32;
$titleTextColor:#161616;
$textMuted:#4D5761;
$borderColor:#D2D6DB;
$mutedBg:#F9FAFB;


$semiblack:#393230;
$secondaryColor: #F3773F;
$dangerColor: #E93737;
  
$grayColor: #A6A6A6;
$warningColor: #ff9d0f;
$mutedColor: #94A3B8;


/* Media Queries */
// $xsScreen: "max-width:767px";
// $smMinScreen: "min-width:768px";
// $smMaxScreen: "max-width:992px";
// $mdMinScreen: "min-width:992px";
// $mdMaxScreen: "max-width:1199px";
// $lgScreen: "min-width:1200px";
// $maxLgScreen: "max-width:1200px";
